<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1526674183561-4bfb419ab4e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80);">
  <div class="container">
    <h1>Cat Tails</h1>
    <%#= image_submit_tag("https://www.pinclipart.com/picdir/middle/3-39227_paw-clipart-transparent-background-orange-paw-print-transparent.png") %>
    <%#= f.submit "Comment", :type => :image, :src => "https://c7.uihere.com/files/39/65/279/dog-bengal-cat-tiger-paw-clip-art-paw-prints.jpg" %>
    <!-- <a src="https://c7.uihere.com/files/39/65/279/dog-bengal-cat-tiger-paw-clip-art-paw-prints.jpg" class="btn btn-flat" href="#">Enter now</a> -->
  </div>
</div>