.banner {
  background-size: cover;
  background-position: center;
  height: 90vh;
  padding: 150px 0;
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 150px;
  font-weight: bold;
  font-family: 'Liu Jian Mao Cao', cursive;
  text-align: center;
}

.banner p {
  font-size: 50px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'Liu Jian Mao Cao', cursive;
  text-align: center;
}

@import "button";
